@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --appBlue: #172537;
  --appGrey: #f1f1f1;
  --appDark: #2f3236;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  ::-webkit-scrollbar {
    display: none;
  }
}

html {
  font-size: 18px;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(/background_2.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fixed-header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  background-color: rgba(241, 241, 241, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.safari-fixes {
  direction: rtl;
}
